{
  "extends": "airbnb-base/legacy",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "plugins": [
    "react",
    "import"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_isMounted"] }],
    "react/jsx-uses-vars": "error",
    "max-len": ["error", 150]
  }
}
